@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 48px;
}

@media (max-width: 425px) {
  .container {
    padding: 0;
  }
}

.maintainance {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 9999;
}

@media (max-width: 425px) {
  .maintainance {
    display: none;
  }
}

/* Customize the indicators */
.custom-carousel .carousel-indicators {
  text-align: center; /* Center the indicators horizontally */
}

/* Style the individual indicator */
.custom-carousel .carousel-indicators button {
  width: 10px; /* Adjust the width of the indicator */
  height: 10px; /* Adjust the height of the indicator */
  border-radius: 50%; /* Make it a circle */
  background-color: #333; /* Dark gray color for inactive indicators */
  margin: 0 5px; /* Adjust the spacing between indicators */
  cursor: pointer; /* Add a pointer cursor */
}

/* Style the active indicator */
.custom-carousel .carousel-indicators .active {
  background-color: #000; /* Black color for the active indicator */
}
